<a href="https://colab.research.google.com/github/harikrishna0007/Hari_Data690/blob/main/Assignment_03/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 03
 - **Name:-**Hari Krishna
 - **Date:-**02/18/22

#Write a program that generates 100 random integers between 0 and 9.

1. Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [4]:
import random
j = 0
for i in range(10):
  for j in range(10):
      i = random.randint(0,9)
      print(i , end = " ")
      j = j+1
      if j == 10:
        print("\n")
      else:
        continue

5 7 8 9 2 3 4 5 5 2

5 5 7 7 7 8 7 6 9 0

7 9 0 8 1 1 0 6 9 4

1 1 2 7 9 4 8 2 1 6

0 2 3 1 9 0 0 7 4 7

5 0 1 7 6 4 0 0 1 4

0 3 0 5 5 8 6 2 2 3

0 7 3 7 3 5 7 0 9 3

9 7 2 0 5 4 8 6 3 2

1 0 5 0 4 2 3 3 2 6

2. If the random number is an odd number, print "@" instead. like the following:

In [7]:
j = 0

for i in range(10):
  for j in range(10):
      i = random.randint(0,9)
      if i % 2 == 0:
       print(i, end = " " )
      else:
       print("@" , end = " ")
      j +=1
      if j ==10:
        print("\n")
      else:
        continue

2 6 4 @ 2 @ @ @ 6 @

0 4 4 4 0 @ 8 8 0 0

@ @ 8 6 @ 6 @ @ @ @

6 0 2 @ @ 8 @ 8 @ @

8 @ 6 @ @ @ 8 0 @ @

@ 2 6 @ @ 0 @ 2 @ @

@ 4 @ @ @ @ @ 4 @ @

@ @ 4 @ 4 @ 4 @ @ @

0 0 @ @ 0 @ @ 6 4 @

6 8 @ 6 8 @ @ 4 0 @

3. Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [17]:
j = 0

for i in range(10):

  t = 0

  for j in range(10):    
      i = random.randint(0,9)
      print(i , end = " ")

      t = t+i
      j =j+1
      
      if j ==10:
        print("*", t)
        print("\n")
      else:
        continue

3 0 6 0 9 2 1 7 2 4 * 34


6 1 8 2 2 2 9 8 8 7 * 53


1 0 1 4 8 5 5 6 5 4 * 39


4 8 0 8 4 7 6 4 3 7 * 51


9 3 0 5 2 8 0 2 0 8 * 37


1 2 8 2 2 8 1 6 9 5 * 44


8 0 2 5 5 0 0 1 7 1 * 29


2 0 4 9 4 6 3 0 6 9 * 43


5 9 4 6 0 3 5 9 9 2 * 52


8 3 1 7 2 7 7 9 0 7 * 51

4. Surround the matrix with asterisks (*) like the following:

In [11]:
j = 0

for k in range(12):
  print("*", end = " ")
print("\n")

for i in range(10):
  print("*", end = " ")
  for j in range(10):
      
      i = random.randint(0,9)
      print(i , end = " ")
      j = j+1
      if j ==10:
        print("*")
        print("\n")
      else:
        continue

for k in range(12):
  print("*", end = " ")
print("\n")

* * * * * * * * * * * *

* 2 5 0 7 5 9 8 4 3 8 *


* 5 5 5 7 4 8 2 5 0 8 *


* 5 2 2 0 3 3 4 7 7 2 *


* 1 8 0 7 4 3 6 3 2 3 *


* 2 5 9 0 8 7 2 1 7 7 *


* 9 6 1 5 8 5 5 3 6 8 *


* 5 0 0 5 4 2 0 7 4 4 *


* 2 8 0 0 3 4 2 7 4 6 *


* 6 8 2 9 8 9 0 9 0 5 *


* 7 8 3 5 5 0 1 4 6 3 *


* * * * * * * * * * * *

5. Calculate and Print the total of each row and column like the following:

In [21]:
arr = [0,0,0,0,0,0,0,0,0,0]
for i in range(12):
    result=0
    for j in range(10):
        if(i==10):
            print("*",end="\t")
        elif(i==11):
            print(arr[j], end="\t")
        else:    
            val =random.randint(0, 9)
            arr[j] = arr[j]+val
            result = result+val
            print(val,end="\t")
    if(i<10):        
        print("*",result)    
    else:
        print()

1	7	5	5	3	1	3	1	5	5	* 36
6	3	8	6	8	2	3	2	7	3	* 48
7	6	4	4	8	2	0	5	2	5	* 43
0	8	7	0	1	8	1	3	4	0	* 32
7	8	8	4	9	5	1	1	2	9	* 54
1	0	7	4	6	8	5	4	9	5	* 49
9	7	1	3	4	1	6	5	9	0	* 45
2	0	8	4	3	7	4	9	2	9	* 48
9	4	5	5	4	4	7	3	8	1	* 50
1	1	8	6	0	8	4	9	0	2	* 39
*	*	*	*	*	*	*	*	*	*
43	44	61	41	46	46	34	42	48	39